<form method="POST" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p><input type="text" name="article[title]" value= <%= @article.title %> > </p>
    <p><input type="text" name="article[content]" value= <%= @article.content%>> </p>
    <input type=submit>
<form>


