<ul>
<% @articles.each do |article| %>
    <li>
        <a href="/articles/<%=article.id %>">
        <%= article.title %></a>
    </li>
<% end %>
</ul>

<p><a href="/articles/new">Create New Article</a></p>