<!DOCTYPE html>
<html>
<body>

<form action='/articles' method="POST">
<h2>New Article</h2>
  Title: <input type="text" name="title"><br>
  <br>
  <br>  

  Content:<br>
  <textarea type="text" name="content" rows="20" cols="100"></textarea><br>
  <input type="submit" value="Post Article">

</body>
</html>